@import url(https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400..800&display=swap);

* {
    font-size: 20px;
    padding: 0;
    margin: 0;
    font-family: "Baloo Paaji 2", sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root {
    --bg-color: #1e1f33;
    --cor-sec: #ebf1ff;
    --cor-ter: #191236;
    --cor-right: #04ba93;
    --cor-quase: #df9e26;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

h1 {
    text-transform: uppercase;
    font-size: 3.4rem;
    font-weight: bold;
    letter-spacing: 3px;
    color: var(--cor-sec);
    line-height: 3rem;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

#div-inputs {
    display: flex;
    flex-direction: column;
    gap: 7px;
    & div{
        display: flex;
        gap: 7px;
    }
}

input {
    box-sizing: border-box;
    line-height: -10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.3rem;
    color: var(--cor-sec) !important;
    border-radius: 0.3rem;
    width: 75px;
    height: 75px;
    text-align: center;
    caret-color: transparent;
    border: 4px solid var(--cor-sec);
    background: none;
    outline: none;
    opacity: 0.3;
    &:disabled {
        background-color: #ebf1ff;
        opacity: 0.05;
        color: var(--bg-color);
    }
    &:focus {
        padding: 0;
        opacity: 1;
    }
}

#trocar-button {
    cursor: pointer;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    border-radius: 30px;
    line-height: 15px;
    & i {
        font-size: 0.9rem;
    }
    &:hover {
        background-color: rgba(235, 241, 255, 0.897)
    }
}

#div-letras {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 550px;
    & p {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--bg-color);
        width: 45px;
        height: 45px;
        border-radius: 5px;
        background-color: var(--cor-sec);
        &:hover {
            background-color: rgba(235, 241, 255, 0.897)
        }
    }
    & button  {
        cursor: pointer;
        color: var(--bg-color);
        text-transform: uppercase;
        background-color: var(--cor-sec);
        order: 999;
        font-size: 1rem;
        font-weight: bold;
        height: 45px;
        box-sizing: border-box;
        padding: 5px 30px;
        border-radius: 5px;
        border: none;
        &:hover {
            background-color: rgba(235, 241, 255, 0.829)
        }
    }
}

.letra-correta {
    background-color: var(--cor-right) !important;
    color: var(--cor-sec) !important;
}

.letra-quase {
    background-color: var(--cor-quase) !important;
    color: var(--cor-sec) !important;
}

.letra-incorreta{
    opacity: 0.4 !important;
}

#p-mensagem {
    display: flex;
    gap: 20px;
    height: 22px;
    margin-bottom: 10px;
    border-radius: 10px;
    justify-self: flex-start;
    line-height: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3rem;
    color: var(--cor-sec);
    font-weight: bold;
    transition: 0.2s;
}

.correto {
    background-color: #04ba93 !important;
    border: none;
    opacity: 1 !important;
    color: var(--cor-sec) !important;
}
.quase-correto {
    background-color: var(--cor-quase) !important;
    border: none; 
    opacity: 1 !important;
    color: var(--cor-sec) !important;
}


@media (max-width: 426px) {
    * {
        font-size: 15px;
    }
    body {
        padding: 0;
    }
    header {
        padding: 0;
        position: static;
    }
    input {
        width: 60px;
        height: 60px;
    }
    .div-button button {
        padding: 14px;
    }
    #trocar-button {
        right: 20px;
        top: 20px;
    }
}

@media (max-width: 321px) {
    * {
        font-size: 13px;
    }
    input {
        width: 50px;
        height: 50px;
    }
    #trocar-button {
        padding: 7px;
    }
}